<div class="col-sm-4" ng-repeat="disk in diskCtrl.disks">
  <div class="panel panel-primary">
    <div class="panel-heading">
        {{disk.name}}
        <div class="pull-right">
        <a style="color: white;"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
    <div class="panel-body">
        <img ng-src="{{diskCtrl.imageOrDefault(disk)}}" class="img-responsive pull-right" alt="Folder Img">
        <p class="pull-left"><b>Artist:</b> {{disk.artist}}<br>
        <b>Year:</b> {{disk.year}}<br>
        <b>Catalogs:</b> {{disk.catalogUrl}}</p>

    </div>
    <div class="panel-footer">{{disk.description}}</div>
  </div>
</div>