<div class="col-sm-4">
  <div class="panel panel-primary" ng-show="diskCtrl.isEditing">
		<div class="panel-heading"><input class="form-control input-sm" type="text" name="disk-name" ng-model="diskCtrl.disk.name"/></div>
		<div class="panel-body">
			<div class="form-group col-sm-12">
				<label class="control-label col-sm-3">Image:</label>
				<div class="col-sm-9">
					<input class="form-control input-sm" type="file" name="disk-file" ng-model="diskCtrl.disk.artist"/>
				</div>
			</div>
			<div class="form-group col-sm-12">
				<label class="control-label col-sm-3">Artist:</label> 
				<div class="col-sm-9">
					<input class="form-control input-sm" type="text" name="disk-artist" ng-model="diskCtrl.disk.artist"/>
				</div>
			</div>
			<div class="form-group col-sm-12">
				<label class="control-label col-sm-3">Year:</label> 
				<div class="col-sm-9">
					<input class="form-control input-sm" type="text" name="disk-year" ng-model="diskCtrl.disk.year"/>
				</div>
			</div>
		</div>
		<div class="panel-footer">
		<div class="form-group">
		<textarea class="form-control input-sm" ng-model="diskCtrl.disk.description"></textarea>
		</div>
		<div class="form-group">
		<button type="submit" class="btn btn-default" ng-click="diskCtrl.submitEdition()">Add</button>
		</div>
		</div>
  </div>
</div>